<div data-section-type="video">
  {% if section.settings.title != blank %}
    <div class="spacey-row">
      <h2 class="h1 align-center">{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  {% if section.settings.video_url != blank %}
  <div class="video-container" data-video-id="{{ section.settings.video_url.id }}" data-video-type="{{ section.settings.video_url.type }}" data-video-autoplay="{{ section.settings.autoplay }}"></div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video link",
        "accept": ["youtube", "vimeo"],
        "info": "Supports Youtube and Vimeo",
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "autoplay",
        "type": "checkbox",
        "label": "Autoplay",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Video",
        "settings": {
          "video_url": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        }
      }
    ]
  }
{% endschema %}
